{% extends 'base.html' %}
{% block c %}
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,900,300,100' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<style type="text/css">
	
h1{
  text-align:center;
  color:#FFF !important;
  margin-top:5%;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.wrap{
  width:600px;
  margin:0 auto;
}
</style>
<div class="overlay">
  <div class="wrap">
<h1 style="text-align: center;"> Welcome </h1> 

<h1 style="text-align: center;"> Prepared By: <i>Sara Faour & Adel Haj Hassan</i> </h1> 
<h1 style="text-align: center;"> Presented To: <i> Mr. Ahmad Fadlallah</i> </h1> 
</div>
</div>
{% endblock %}