{% extends 'base.html' %}
{% block c %}
<style type="text/css">
  h3 {
    text-align: center;
    color: white;
  }

</style>
<h1 style="font:60px Lobster; text-align: center;"> location details </h1>
<h3> PK: {{location.0}} </h3>
<hr>
<h3>country: {{location.1}} </h3>
<hr>
<h3>street: {{location.2}} </h3>
<hr>
<h3> building: {{location.2}} </h3>
<hr>
<h3> floor: {{location.2}} </h3>
<hr>
<h1 style="text-align: center;">Executed Queries</h1>
{% for query in queries %}
<p style="text-align: center;">{{query}}</p>
{% endfor %}
<hr>
{% endblock %}