{% extends 'base.html' %}
{% block c %}
<h1 style="font:60px Lobster; text-align: center;"> managers </h1>
<table class="table table-light" style="text-align: center;">
  <thead class="thead-dark">
  	   <tr>
      <th scope="col">PK</th>
      <th scope="col">name</th>
      <th scope="col">tel_num</th>
    </tr>
  </thead>
  <tbody>
{% for manager in managers %}
<tr>
      <td><a href="{% url 'manager' manager.0 %}">{{manager.0}}</a></td>
      <td>{{manager.1}}</td>
      <td>{{manager.2}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


<form class="form-group" style="text-align: center;" method="post" action="{% url 'managers' %}">
	<input class="form-control" type="text" name="name" placeholder="name"><br>
	<input class="form-control" type="text" name="tel_num" placeholder="phone num"><br>
	<input class="btn btn-light" type="submit" value="add manager"><br>
	{% csrf_token %}
</form>
<hr>
<h1 style="text-align: center;">Executed Queries</h1>
{% for query in queries %}
<p style="text-align: center;">{{query}}</p>
{% endfor %}
<hr>
{% endblock %}